{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}


<header class="bg-dark text-white" id="page-top">
  <div class="container text-center">
    <h1>Welcome to Learning League</h1>
    <p class="lead">A platform to enhance your knowledge with the best teachers of India</p>
    <a class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#staticBackdrop">Apply</a>
  </div>
</header>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Apply here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {{form.hidden_tag()}}

            <div class="form-group"> 
                {{form.name.label}} 
                {{form.name(class="form-control")}}
            </div>
            <div class="form-group"> 
              {{form.email.label}}
              {{form.email(class="form-control",type="email")}}
            </div>
            <div class="form-group"> 
              {{form.phone.label}}
              {{form.phone(class="form-control")}}
            </div>
            <div class="form-group"> 
              {{form.dob.label}}
              {{form.dob(class="form-control",type="date")}}
            </div>
            <div class="custom-control custom-radio custom-control-inline"> 
              {{form.gender.label}}
              {{form.gender()}}
              
               
            </div>
            <div class="form-group"> 
              {{form.school.label}}
              {{form.school(class="form-control")}}
            </div>
            <div class="form-group"> 
              {{form.subj.label}}
              {{form.subj(class="custom-select")}}
            </div>
            <div class="form-group"> 
              {{form.marks.label}}
              {{form.marks(class="form-control",type="number")}}
            </div>
            <div class="form-group"> 
              {{form.total_marks.label}}
              {{form.total_marks(class="form-control",type="number")}}
            </div>

          <div class="modal-footer">
            {{form.Submit(class="btn btn-outline-success")}}
          </div>
      </div>
      </form>
    </div>
  </div>
</div>


<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About this page</h2>
        <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you
          can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
        <ul>
          <li>Clickable nav links that smooth scroll to page sections</li>
          <li>Responsive behavior when clicking nav links perfect for a one page website</li>
          <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
          <li>Minimal custom CSS so you are free to explore your own unique design options</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Services we offer</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita
          quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut
          velit dignissimos.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="jumbotron container p-3 mb-2 bg-white text-dark col-lg-8 mx-auto">
    <h1 class="display-5">Contact Us</h1>
    <p class="lead">For any question,complaint or feedback you can contact us. Just fill the form and write your query.
    </p>
    <hr class="my-4">
    <p class="lead">We will get in touch with you via email. Your feedback is valuable to us.</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('contact')}}" role="button">Write to us</a>
  </div>
</section>



{% endblock %}