<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">
  <title>Just one step more!!</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#">Learning League</a>
    </div>
  </nav>


  <div class="jumbotron text-center" style="margin-top: 2em;">
    <h1 class="display-3">You are just one step away {{name}}!</h1>
    <p class="lead">Just pay Rs.100 and get enrolled in <strong>Learning League</strong></p>
    <hr>
    <p>
      Having trouble? <a href="{{url_for('contact')}}">Contact us</a>
    </p>
    <p class="lead">
      <button class="btn btn-primary btn-sm" role="button" id="checkout-button">Go to payment page</button>
    </p>
  </div>

</body>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe("pk_test_51I0BPPJ7NR1mciwGSMFMwCtlG1M1Y6hTDHSOz9lj5X46VNJqPuTTBMMZbwB15nsDMHa8MB3hMA9zEz1R2Vasrq0m00Z6cprMDL");
  var checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {
    fetch("/create-checkout-session:{{name}},{{email}}", {
      method: "POST",
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>

</html>